<p>
 
</p>
<form action="" class="">
  <div class="form-group mb-2">
    <input class="form-control mr-2">
    <button class="bnt bnt-outline">Buscar</button>
  </div>  
</form>
<table class="table table-striped">    
    <thead class="thead-dark" >
      <tr>
        <th>#Id</th>
        <th>Tema</th>
        <th>Img</th>
        <th>Local</th>
        <th>Lote</th>
        <th>QtsPessoa</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length"> 
      <tr *ngFor="let evento of eventos">
          <td>{{evento.id}}</td>
          <td>{{evento.tema}}</td>
          <!--Ñ esta funcionando img-->
          <td><img src="http://localhost:5000/img/{{evento.imgUrl}}"></td>
          <td>{{evento.local}}</td>
          <td>
            <div *ngIf="evento.lotes.length">
            {{evento.lotes[0].nome}}
            </div>
            <div *ngIf="!evento.lotes.length">
              ñ informado
            </div>
          </td>
          <td>{{evento.qtdPessoas}}</td>
          <td>{{evento.data}}</td>
      </tr>
    </tbody> 
    <tfoot *ngIf="!eventos.length">
      <div>
        <h5>
          Não encontrado nenhum evento!
        </h5>
      </div>
    </tfoot>
  
</table>
    <!-- Erro, na tbody/foot so assim funciona mais na aula e pela lógica deveria ser contrário-->
    